{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center product-page-header">Our Premium Products</h1>

    <div class="product-grid">
        {% for product in products %}
        <div class="product-card text-center">
            <img src="{{ product.image_path }}" alt="{{ product.name }}" class="img-fluid">
            <div class="card-body">
                <h5>{{ product.name }}</h5>
                <p>{{ product.tag }}</p>
                <p class="price">${{ product.price }}</p>
                <a href="/products/{{ product.id }}" class="btn btn-primary">View Product</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}